  
      html, body, #map-canvas {

        height: 100%;
        margin: 0px;
        padding: 0px;
        border: 4px solid #9143a8;

}
#panel {
        position: absolute;
        top: 35%;
        left: 85%;
        margin-left: -200px;
        z-index: 1000;
        background-color: #fff;
        padding: 5px;
        border: 4px solid #9143a8;
	border-radius: 56px;
	box-shadow: 10px 10px 5px #9143a8;
      }
	
  
      #directions-panel {
        height: 100%;
        float: right;
        width: 390px;
        overflow: auto;
        border-top: 20px solid #9143a8;

      }

      #map-canvas {
        margin-right: 400px;
      }

      #control {
        background: #fff;
        padding: 5px;
        font-size: 14px;
        font-family: Arial;
        border: 1px solid #ccc;
        box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
        display: none;
      }

      @media print {
        #map-canvas {
          height: 500px;
          margin: 0;
        }

        #directions-panel {
          float: none;
          width: auto;
        }
      }